
main {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 100px;
  padding-bottom: 3000px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.empty {
  opacity: 0;
}

.hidden {
  display: none;
}

nav ul{
  display: flex;
  flex-direction: column;
}

nav ul li{
  font-size: 1.6em;
  display: flex;
  align-items: center;
}

nav ul li a{
  text-decoration: none;
  color: #6b6c70;
  padding: 20px 150px 20px 30px;
  display: flex;
  border-radius: 0% 35px 35px 0;
  width: 100px;
}

nav ul li a:hover {
  background: #878787;
  color: #fff;
} 

nav ul li .active {
  text-decoration: none;
  background-color: #6b6c70;
  color: #fff;
  padding: 20px 150px 20px 30px;
  display: flex;
  border-radius: 0% 35px 35px 0;
}

nav ul li .active:hover {
  background-color: #6b6c70;
  color: #fff;
}

nav ul li a span {
  margin-right: 30px;
}


table {
  font-size: 1.2em;
}

table thead {
  background: #878787;
  color: #fff;
  height: 50px;
  font-weight: bold;
  margin-bottom: 200px;
}



table thead tr td {
  padding-top: 15px;
}

table thead td:first-child {
  border-radius: 5px 0 0 5px;
}

table thead td:last-child {
  border-radius: 0 5px 5px 0;
}

table tr td:first-child {
  padding-left: 20px;
}

table tr td:last-child {
  padding-right: 10px;
}

table tbody tr {
  border-top: 30px solid white;
  background: #e8eaf5;
}

table tbody tr td {
  height: 30px;
}

table tbody tr:first-child {
  border-top: 0;
  opacity: 0;
  padding-top: 0;
}

table tbody tr:first-child td {
  height: 10px;
  padding-top: 0;
}

table tbody {
  color: #878787;
}

table tbody tr td {
  padding-top: 12px;
  padding-right: 20px;
}

table tbody tr td:first-child i{
  font-size: 1.3em;
  color: #fff;
  background: #6b6c70;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

table tbody tr td:nth-child(2) {
  font-weight: bold;
  color: #6b6c70;
}



.btn {
  margin-top: 30px;
  float: right;
  width: 120px;
  height: 40px;
  font-size: 1.4em;
  border: none;
  cursor: pointer;
  background: #878787;
  color: #fff;
  border-radius: 5px;
}

#create-button:hover {
  background: #6b6c70;
}

#create-button:active {
  background: #878787;
}

#create-note {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 6px 20px 0px rgba(66, 68, 90, 0.31);
  background: #e8eaf5;
}

#create-note input, #create-note textarea{
  border: none;
  background: #e8eaf5;
}

#title input::placeholder, #title textarea::placeholder {
  color: #878787;
}

#title {
  height: 40px;
  font-size: 1.5em;
  color: #565656;
}

#category {
  border: none;
  height: 40px;
  cursor: pointer;
  background: #e8eaf5;
  font-size: 1.3em;
  color: #565656;
}

#category option:disabled {
  color: yellow;
}

#content {
  margin-top: 30px;
  height: 60px;
  color: #565656;
  resize: none;
}

#title:focus, #content:focus, #category:focus {
  border: none;
  outline: none;
}

